<tr>
	<td><%= drug.name %></td>
	<td><%= drug.about %></td>
	<td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Show'.html_safe, drug, class:"pull-right btn btn-xs btn-info" %></td>

	<% if current_user && (current_user.superadmin_role? || current_user.supervisor_role?) %>
	<td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_drug_path(drug), class:"pull-right btn btn-xs btn-warning" %></td>
	<td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, drug,
               method: :delete,
               data: { confirm: 'Are you sure?' }, class:"pull-right btn btn-xs btn-danger" %></td>

	<% end %>


</tr>