<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Drugs <span class="badge"><%=@drugs.count%></span>

        <% if current_user && (current_user.superadmin_role? || current_user.supervisor_role?) %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Create New Drug'.html_safe, new_drug_path, class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      <div class="table-responsive tableItem">
        <table id="table" class="table table-hover table-striped tablesorter">
          <thead>
            <tr>
              <th>Name <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>About <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @drugs%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  <br>
</div>