<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">

  <%= render "partials/flash" %>

  <% if @user.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @user, name:"user"} %>
  <% end %>

  <h5>
  Note:
  <br>

  This platform will enable you to keep track of your daily routines especially pertaining to sleep, eating, and exercise. The consensus in the scientific community is that a steady and balanced routine in these three domains is going to lead to more productive lives. As students, we forget to keep track of how steady and healthy our basic daily habits are -- and we particularly forget the impact that it has on our academic growth and responsibilities.

  By interacting with this exercise in a course of two weeks, you will be able to see how a good healthy routine (good sleep, exercising, and eating habits) impacts your academic growth. 
    

  Sign up information: 
  You can choose to sign up with your real name or a pseudonym. Make sure you sign up as self-reporter (and not a reviewer).
  </h5>




  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user-plus"></i> New to User?</h4>
      </div>
      <div class="panel-body">

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <form class="form-horizontal" role="form">
          <div class = "row">
            <div class="form-group ">
              <div class="col-md-6 stpad">
                  <%= f.text_field :first_name, class:"form-control", placeholder: "First Name" %>
              </div>
              <div class="col-md-6 stpad">
                  <%= f.text_field :last_name, class: "form-control", placeholder: "LastName"  %>
              </div>
            </div>
          </div>
          <div class = "row">
            <div class="form-group">
              <div class="col-md-6 stpad">
                  <%= f.email_field :email, class: "form-control ", placeholder:"Email",:autocomplete => "off" %>
              </div>
              <div class="col-md-6 stpad">
                  <%= f.select :self_reporter, options_for_select([["Self Reporter",true],["Reviewer",false]],:selected=>true),{}, {:class => 'form-control'} %>
              </div>
            </div>
          </div>
          <div class = "row">
            <div class="form-group ">
              <div class="col-md-6 stpad">
                  <%= f.password_field :password, class: "form-control", placeholder: "Password",:autocomplete => "off" %>
              </div>
              <div class="col-md-6 stpad">
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re-enter Password"%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 stpad">
                <button role="button" type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i> Sign Up</button>
            </div>
          </div>
        </div>
          
        </form>
        <% end %>
        
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
