
<%= form_for(trial) do |f| %>
  
  <% if @trial.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @trial, name:"trial"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Drug</span>
    <%= f.select :drug_id, options_for_select(@drug_options,:selected=>@trial.drug_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Disease</span>
    <%= f.select :disease_id, options_for_select(@disease_options,:selected=>@trial.disease_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Company</span>
    <%= f.select :company_id, options_for_select(@company_options,:selected=>@trial.company_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Gov URL</span>
    <%= f.text_field :gov_url,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">About</span>
    <%= f.text_area :about,class:"form-control" %>
  </div>

  <br>
  <div class="text-center stpad">
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>
  </div>
<% end %>
