<a href=<%= trial_path(trial) %> class="list-group-item listItem">
	<div class="list-group-item-heading">
	 <strong><%= trial.drug.name %></strong><small> by <%= trial.company.name %></small>
	</div>
	<p class="list-group-item-text">Disease: <%= trial.disease.name %></p>
	<% phases = trial.phases %>
	<% if phases.count > 0 %>
		<% phase = phases.last %>
		<small class="list-group-item-text"><span class="badge">Phase: <%= phase.name %></span> <span class="label label-default"><%= Status.find(phase.status_id).name %></span>  <%= phase.start_date.strftime("%m/%Y") %> -<i class="fa fa-calendar" aria-hidden="true"></i>- <%= phase.end_date.strftime("%m/%Y") %></small>
	<% end %>
</a>