<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-flask" aria-hidden="true"></i> Trials <span class="badge"><%=@trials.count%></span>

        <% if can? :manage, Trial %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Create New Trial'.html_safe, new_trial_path, class:"pull-right btn btn-success" %>
        <% end %>


        </h4>
      </div>
      <div class="panel-body">
      <div class="list-group tableItem">
        <%= render @trials %>
      </div>
      </div>
    </div>
  <br>
</div>

