<p id="notice"><%= notice %></p>

<h1>Trials</h1>

<table>
  <thead>
    <tr>
      <th>Drug</th>
      <th>Gov url</th>
      <th>Company</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.drug %></td>
        <td><%= trial.gov_url %></td>
        <td><%= trial.company %></td>
        <td><%= trial.about %></td>
        <td><%= link_to 'Show', trial %></td>
        <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
        <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial', new_trial_path %>
