
<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-usd" aria-hidden="true"></i> Trial 

        <% if can? :manage, @trial %>
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Edit Trial'.html_safe, edit_trial_path(@trial), class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      	<strong><%= @trial.drug.name %></strong><small> by <%= @trial.company.name %></small>
      	
      	<p>Disease: <%= @trial.disease.name %></p>
      	<p>About: <%= @trial.about %></p>
		<% phases = @trial.phases %>
		<% if phases.count > 0 %>
			<% phase = phases.last %>
			<small class="list-group-item-text"><span class="label label-default"></span><%= trial.phase.status.name %><%= trial.phase.start_date %> -- <%= trial.phase.start_date %></small>
		<% end %>
      </div>
    </div>
  <br>
  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Trials'.html_safe, trials_path, class:"btn btn-primary" %>
</div>
