<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @trial.drug %>
</p>

<p>
  <strong>Gov url:</strong>
  <%= @trial.gov_url %>
</p>

<p>
  <strong>Company:</strong>
  <%= @trial.company %>
</p>

<p>
  <strong>About:</strong>
  <%= @trial.about %>
</p>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
