
<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-step-forward" aria-hidden="true"></i> Phase Statuses <span class="badge"><%=@statuses.count%></span>

        <% if can? :manage, Status %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Create Status'.html_safe, new_status_path, class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      <div class="table-responsive tableItem">
        <table id="table" class="table table-hover table-striped tablesorter">
          <thead>
            <tr>
              <th>Name <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>About</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @statuses%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
</div>

