<ul class="nav navbar-nav navbar-right">
  <li><a href="#signinModal" data-toggle="modal" title="Returning User? Sign In"><i class="fa fa-sign-in"></i> Log In</a></li>
  <li><a href="#signupModal" data-toggle="modal" title="New To TeachBack? Create A New Account"><i class="fa fa-user-plus"></i> Sign Up</a></li>
</ul>


<div id="signinModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-sign-in"></i> Returning User?</h4>
      </div>
      <div class="panel-body">
	      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
	        <div class = "row">
	            <div class="form-group ">
	              <div class="col-md-6 stpad">
	                  <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
	              </div>
	              <div class="col-md-6 stpad">
	                  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
	              </div>
	            </div>
	        </div>
	        <div class = "row">
	          <div class="form-group">
	            <div class="col-md-6" style="font-size: 14px !important;">
	              <% if devise_mapping.rememberable? %>
	                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
	               <% end %>
	            </div>
	            <div class="col-md-6" style="font-size: 14px !important;">
	              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	                <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
	              <% end -%>
	            </div>
	              <div class="col-md-12">
	                  <button role="button" type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i> Sign In</button>
	              </div>
	          </div>
	        </div>
	      <% end %>
        
      </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="signupModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user-plus"></i> New to User?</h4>
      </div>
      <div class="panel-body">

	      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	      <form class="form-horizontal" role="form">
	        <div class = "row">
	          <div class="form-group ">
	            <div class="col-md-6 stpad">
	                <%= f.text_field :first_name, class:"form-control", placeholder: "First Name" %>
	            </div>
	            <div class="col-md-6 stpad">
	                <%= f.text_field :last_name, class: "form-control", placeholder: "LastName"  %>
	            </div>
	          </div>
	        </div>
	        <div class = "row">
	          <div class="form-group">
	            
	            <div class="col-md-12 stpad">
	                <%= f.email_field :email, class: "form-control ", placeholder:"Email",:autocomplete => "off" %>
	            </div>
	          </div>
	        </div>
	        <div class = "row">
	          <div class="form-group ">
	            <div class="col-md-6 stpad">
	                <%= f.password_field :password, class: "form-control", placeholder: "Password",:autocomplete => "off" %>
	            </div>
	            <div class="col-md-6 stpad">
	                <%= f.password_field :password_confirmation, class: "form-control", id: "password2", placeholder: "Re-enter Password"%>
	          </div>
	        </div>
	        <div class="form-group">
	          <div class="col-md-12 stpad">
	              <button role="button" type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i> Sign Up</button>
	          </div>
	        </div>
	      </div>
	        
	      </form>
	      <% end %>
        
      </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->