<%= form_for(stock) do |f| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>

  <div class="field">
    <%= f.label :stock_market_id %>
    <%= f.text_field :stock_market_id %>
  </div>

  <div class="field">
    <%= f.label :stock_type_id %>
    <%= f.text_field :stock_type_id %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
