
<%= form_for(stock) do |f| %>
  
  <% if @stock.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @stock, name:"stock"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Ticker</span>
    <%= f.text_field :ticker,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Exchange</span>
    <%= f.select :stock_market_id, options_for_select(@market_options,:selected=>@stock.stock_market_id),{}, {:class => 'form-control'} %>
  </div>


  <div class="input-group stpad">
    <span class="input-group-addon addon3">About</span>
    <%= f.text_area :about,class:"form-control" %>
  </div>

  <br>
  <div class="text-center stpad">
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>
  </div>
<% end %>
