
<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-usd" aria-hidden="true"></i> Stocks <span class="badge"><%=@stocks.count%></span>

        <% if can? :manage, Stock %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Create New Stock'.html_safe, new_stock_path, class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      <div class="table-responsive tableItem">
        <table id="table" class="table table-hover table-striped tablesorter">
          <thead>
            <tr>
              <th>Ticker <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>Price <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>Market <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @stocks%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  <br>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-usd" aria-hidden="true"></i> Markets/Exchanges <span class="badge"><%=@stock_markets.count%></span>

        <% if can? :manage, StockMarket %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Create New Exchange'.html_safe, new_stock_market_path, class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      <div class="table-responsive tableItem">
        <table id="table" class="table table-hover table-striped tablesorter">
          <thead>
            <tr>
              <th>Name <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>Country <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th>About <i class="fa fa-sort text-right" aria-hidden="true"></i></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial:"stock_markets/stock_market", collection: @stock_markets%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
</div>
