
<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-usd" aria-hidden="true"></i> Stock 

        <% if can? :manage, @stock %>
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Edit Stock'.html_safe, edit_stock_path(@stock), class:"pull-right btn btn-success" %>
        <% end %>
        
        </h4>
      </div>
      <div class="panel-body">
      <h4><%= @stock.ticker %> : $--.--</h4>
      <% if @stock.stock_market_id %>
	      <% market = StockMarket.find(@stock.stock_market_id) %>
	      Market: <a href="<%= stock_market_url(market) %>" target="_blank"><%= market.name %></a>

	    <% end %>
      <p>About: <%= @stock.about %></p>
      </div>
    </div>
  <br>
  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Stocks'.html_safe, stocks_path, class:"btn btn-primary" %>
</div>
