<%= render partial: "partials/devise_navbar" %>
<% @time_remaining7PM = @sevenPM.to_f * 1000 %>
<% @time_remaining10PM = @tenPM.to_f * 1000 %>


<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-train" aria-hidden="true"></i> <%= "Welcome #{@user.first_name}. You're registered as a #{@user.self_reporter ? 'Self-Reporter' : 'Reviewer'}" %>
        </h4>
      </div>
      <div class="panel-body">
        <% if @user.self_reporter %>
          <% if @todays_report %>
            <div class="alert alert-success" role="alert"><strong>TODAY'S REPORT:</strong> Submitted.</div>
          <% else %>
            <div class="alert alert-danger" role="alert"><strong>TODAY'S REPORT:</strong> Not Submitted.</div>
          <% end %>

          

          <% if Time.zone.now.between?(@sevenPM,@tenPM) %>
              <% if @todays_report %>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title">TODAY'S REPORT
                          <% if not (@todays_report.feedback || @page == 'edit')%>
                            <a href="<%= user_root_url(page:'edit')%>" role="button" class="pull-right btn btn-sm btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit Report</a>
                          <% end %>
                        </h3>
                      </div>
                      <div class="panel-body">
                        <% if @page == 'edit' %>
                            <%= render "reports/form", report: @todays_report %>
                        <% else %>
                          <%= render @todays_report %>
                        <% end %>
                        
                      </div>
                    </div>
                  </div>
                <div class="col-xs-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">TODAY'S REVIEW/FEEDBACK</h3>
                      </div>
                      <div class="panel-body">
                        <% if @latest_report.feedback %>
                          <%= render @latest_report.feedback %>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
                
            <% else %>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">SUBMIT A REPORT FOR TODAY</h3>
                </div>
                <div class="panel-body">
                  <%= render "reports/form", report: Report.new %>
                </div>
              </div>

              <% if @latest_report %>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title">YOUR PREVIOUS REPORT: <%=@latest_report.created_at.strftime("%m/%d/%Y at %H:%M") %></h3>
                      </div>
                      <div class="panel-body">
                          <%= render @latest_report %>
                      </div>
                    </div>
                  </div>
                <div class="col-xs-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">YOUR PREVIOUS FEEDBACK: 
                          <% if @latest_report.feedback %>
                            <%=@latest_report.feedback.created_at.strftime("%m/%d/%Y at %H:%M") %>
                          <% end %>
                          
                        </h3>
                      </div>
                      <div class="panel-body">
                        <% if @latest_report.feedback %>
                          <%= render @latest_report.feedback %>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
                
            <% end %>

            <% end %>
              
          <% else %>
            <div class="jumbotron">
              <h1 id='countdown6PM'></h1>
              <h3>You can submit a new report between 6:00PM and 10:00PM every week day.</h3>
            </div>
            <% if @latest_report %>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title">YOUR PREVIOUS REPORT: <%=@latest_report.created_at.strftime("%m/%d/%Y at %H:%M") %></h3>
                      </div>
                      <div class="panel-body">
                          <%= render @latest_report %>
                      </div>
                    </div>
                  </div>
                <div class="col-xs-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">YOUR PREVIOUS FEEDBACK: 
                          <% if @latest_report.feedback %>
                            <%=@latest_report.feedback.created_at.strftime("%m/%d/%Y at %H:%M") %>
                          <% end %>
                          
                        </h3>
                      </div>
                      <div class="panel-body">
                        <% if @latest_report.feedback %>
                          <%= render @latest_report.feedback %>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
                
            <% end %>

          <% end %>
        <% else %>
          <div class="alert alert-info" role="alert"><strong>REVIEWS SUBMITTED TODAY: <%= @todays_feedbacks.count %></strong></div>

          
          <% if Time.zone.now.between?(@sevenPM,@elevenPM) %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">REVIEW REPORTS</h3>
                </div>
                <div class="panel-body list-group">
                  <p> You can review more than one report per day now. :) </p>
                  <%= render(partial: "reports/unreviewed_report", collection:@unreviewed_reports, as: :report) || "<p class='text-center'><i class='fa fa-info-circle'></i> NO UNREVIEWED REPORTS AT THIS TIME.</p>".html_safe %>
                </div>
              </div>
          <% else %>
            <div class="jumbotron">
              <h1 id='countdown6PM'></h1>
              <h3>You can submit reviews between 6:00PM and 11:00PM every week day.</h3>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">

  var reports = <%= raw @reports.to_json %>;
  console.log(reports);

  var time_remaining7PM = <%= raw @time_remaining7PM %>;
  var sevenPM = new Date(time_remaining7PM);

  var time_remaining10PM = <%= raw @time_remaining10PM %>;
  var tenPM = new Date(time_remaining10PM);

  var time_remaining6PM = <%= raw @time_remaining7PM %>;
  var sixPM = new Date(time_remaining6PM);

  $("#countdown7PM").countdown({
    until: sevenPM,
    timezone: -4,
    layout: '<b>{hn} {hl}, {mn} {ml}, {sn} {sl}</b>'
  }); 

  $("#countdown10PM").countdown({
    until: tenPM,
    timezone: -4,
    layout: '<b>{hn} {hl}, {mn} {ml}, {sn} {sl}</b>'
  }); 

  $("#countdown6PM").countdown({
    until: sevenPM,
    timezone: -4,
    layout: '<b>{hn} {hl}, {mn} {ml}, {sn} {sl}</b>'
  }); 
  
</script>
