<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <% if @user.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @user, name:"user"} %>
  <% end %>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-sign-in"></i> Forgot Your Password?</h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class = "row">
            <div class="form-group ">
              <div class="col-md-12 stpad">
                  <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
        </div>
        <div class = "row">
          <div class="form-group">
            <div class="col-md-6" style="font-size: 14px !important;">
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
               <% end %>
            </div>
            <div class="col-md-6" style="font-size: 14px !important;">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
              <% end -%>
            </div>
              <div class="col-md-12">
                  <button role="button" type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i> Send me reset password instructions</button>
              </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
  <%= render "devise/shared/links" %>
  </div>
  </div>

</div>


