
<%= form_for(company) do |f| %>
  
  <% if @company.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @company, name:"company"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Name</span>
    <%= f.text_field :name,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Website</span>
    <%= f.text_field :url,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Stock</span>
    <%= f.select :stock_id, options_for_select(@stock_options,:selected=>@company.stock_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Address</span>
    <%= f.text_area :address,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">About</span>
    <%= f.text_area :about,class:"form-control" %>
  </div>

  <br>
  <div class="text-center stpad">
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>
  </div>
<% end %>
