<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @company.stock %>
</p>

<p>
  <strong>About:</strong>
  <%= @company.about %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
