<%= form_for(stock_market) do |f| %>
  <% if stock_market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_market.errors.count, "error") %> prohibited this stock_market from being saved:</h2>

      <ul>
      <% stock_market.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
