<p id="notice"><%= notice %></p>

<h1>Stock Markets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_markets.each do |stock_market| %>
      <tr>
        <td><%= stock_market.name %></td>
        <td><%= stock_market.about %></td>
        <td><%= link_to 'Show', stock_market %></td>
        <td><%= link_to 'Edit', edit_stock_market_path(stock_market) %></td>
        <td><%= link_to 'Destroy', stock_market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Market', new_stock_market_path %>
