

<%= form_for [@trial,phase] do |f| %>  
  <% if @phase.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: @phase, name:"phase"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon2">Phase (Name)</span>
    <%= f.select :name, options_for_select([["Select Phase (Name)",nil],['Phase I','I'], ['Phase I/II','I/II'],['Phase II','II'],['Phase II/III','II/III'],['Phase III','III'],['Phase III/IV','III/IV'],['Phase IV','IV'],['Approved','Approved']],:selected=>@phase.name),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon2">Status</span>
    <%= f.select :status_id, options_for_select(@status_options,:selected=>@phase.status_id),{}, {:class => 'form-control'} %>
  </div>


  <div class='input-group'>
      <span class="input-group-addon addon2">Start Date <span class="fa fa-calendar">
          </span></span>
      <input type='text'  id='start_date' value="<%= @phase.start_date.strftime("%m/%Y") if  @phase.start_date %>" name="phase[start_date]" class="form-control" />
  </div>

  <div class='input-group'>
      <span class="input-group-addon addon2">End Date <span class="fa fa-calendar">
          </span></span>
      <input type='text'  id='end_date' name="phase[end_date]" value="<%= @phase.end_date.strftime("%m/%Y") if  @phase.end_date %>" class="form-control" />
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon2">About</span>
    <%= f.text_area :about,class:"form-control" %>
  </div>

  <br>
  <div class="text-center stpad">
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>
  </div>
<% end %>
