<tr>
	<td><%= phase.name %></td>
	<td><%= Status.find(phase.status_id).name %></td>
	<td><%= phase.start_date.strftime("%m/%Y") %></td>
	<td><%= phase.end_date.strftime("%m/%Y") %></td>
	<% if can? :manage, phase %>
	<td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_trial_phase_path(@trial,phase), class:"pull-right btn btn-xs btn-warning" %></td>
	<td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, trial_phase_path(@trial,phase),
               method: :delete,
               data: { confirm: 'Are you sure?' }, class:"pull-right btn btn-xs btn-danger" %></td>

	<% end %>


</tr>