
<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Editing Phase 
        </h4>
      </div>
      <div class="panel-body">
      	<%= render 'form', phase: @phase %>
      </div>
    </div>
  <br>
  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel'.html_safe, trial_path(@trial), class:"btn btn-primary" %>
</div>

<script type="text/javascript">
    $(function () {
        $('#start_date').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });

        $('#end_date').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });

    });
</script>
