<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @phase.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @phase.end_date %>
</p>

<p>
  <strong>About:</strong>
  <%= @phase.about %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
