

<%= form_for(report) do |f| %>
  
  <% if report.errors.any? %>
    <%= render partial: "partials/create_errors", locals: {object: report, name:"report"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Class Attendance</span>
    <%= f.select :attendance, options_for_select([["Did you attend all classes today?",nil],["YES",2],["SOME",1],["NONE",0],["No Classes Today",-1]],:selected=>report.attendance),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Assignments</span>
    <%= f.select :assignments, options_for_select([["Did you complete your assignments?",nil],["YES",2],["SOME",1],["NONE",0],["No Assignments Today",-1]],:selected=>report.assignments),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Class Participation</span>
    <%= f.select :participation, options_for_select([["Did you participate in classes?",nil],["YES",2],["SOME",1],["NO",0],["No Classes Today",-1]],:selected=>report.participation),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Sleep</span>
    <%= f.select :sleep, options_for_select([["How much sleep did you get last night?",nil],["9+ Hrs",2],["7-8 Hrs",1],["4-7 Hrs",0],["4- Hrs",-1]],:selected=>report.sleep),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Exercise</span>
    <%= f.select :exercise, options_for_select([["How much did you exercise?",nil],["20+ Minutes",1],["15-20 Minutes",0],["15- Minutes",-1]],:selected=>report.exercise),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Meals</span>
    <%= f.select :meals, options_for_select([["How many meals did you have?",nil],["5+ Meals",2],["3-5 Meals",1],["2 Meals",0],["1- Meals",-1]],:selected=>report.meals),{}, {:class => 'form-control'} %>
  </div>

  <br>
  <div class="text-center stpad">
    <a class="btn btn-default" href="<%= user_root_url %>"><i class="fa fa-reply"></i> Cancel</a>
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>
  </div>
<% end %>
