<div class="panel panel-primary">
	<div class="panel-body">
		Class Attendance: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Class Attendance">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.attendance==2 %> class='btn btn-default'}>YES</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.attendance==1 %> class='btn btn-default'}>SOME</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.attendance==0 %> class='btn btn-default'}>NONE</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.attendance==-1 %> class='btn btn-default'}>N/A</button>
		</div></br>

		Assignments: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Assignments">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.assignments==2 %> class='btn btn-default'}>YES</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.assignments==1 %> class='btn btn-default'}>SOME</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.assignments==0 %> class='btn btn-default'}>NONE</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.assignments==-1 %> class='btn btn-default'}>N/A</button>
		</div></br>

		Class Participation: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Class Participation">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.participation==2 %> class='btn btn-default'}>YES</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.participation==1 %> class='btn btn-default'}>SOME</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.participation==0 %> class='btn btn-default'}>NONE</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.participation==-1 %> class='btn btn-default'}>N/A</button>
		</div></br>

		Sleep: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Sleep">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.sleep==2 %> class='btn btn-default'}>9+ Hrs</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.sleep==1 %> class='btn btn-default'}>7-8 Hrs</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.sleep==0 %> class='btn btn-default'}>4-7 Hrs</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.sleep==-1 %> class='btn btn-default'}>4- Hrs</button>
		</div></br>

		Exercise: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Exercise">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.exercise==1 %> class='btn btn-default'}>20+ Mnts</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.exercise==0 %> class='btn btn-default'}>15-20 Mnts</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.exercise==-1 %> class='btn btn-default'}>15- Mnts</button>
		</div></br>

		Meals: 
	  <div class="btn-group btn-group-xs sbpad display-only" role="group" aria-label="Meals">
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.meals==2 %> class='btn btn-default'}>5+ Meals</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.meals==1 %> class='btn btn-default'}>3-5 Meals</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.meals==0 %> class='btn btn-default'}>2 Meals</button>
		  <button type="button" <%= "class='btn btn-primary active'".html_safe if report.meals==-1 %> class='btn btn-default'}>1 Meal</button>
		</div></br>
	</div>
</div>