<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock_type.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @stock_type.about %>
</p>

<%= link_to 'Edit', edit_stock_type_path(@stock_type) %> |
<%= link_to 'Back', stock_types_path %>
