<!DOCTYPE html>
<html>
  <head>
    <title>Project Transparency</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag :transparency %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>

    <br/><br/>
	<footer class="footer">
	  <div class="container">
	    <p class="text-muted">&copy; The Transparency Project 2017</p>
	  </div>
	</footer>
  </body>
</html>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() { 
    $("#table").tablesorter();
  });

</script>
